html, body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(73, 72, 72);
}
canvas {
  display: block;
}

button {
  background: rgb(177, 171, 171);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  font-family:'Press Start 2P', cursive;
}